# Backend
office-buy-api/.env
office-buy-api/node_modules/
office-buy-api/dist/

# Frontend
office-buy-client/node_modules/
office-buy-client/dist/
office-buy-client/src/generated/prisma

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# Log
*.log
npm-debug.log*

# Temp
*.tmp
*.temp

# Vite
.vite/